.navbar {
  display: flex;
  justify-content: space-between;


  .brand {
    padding: 5px 10px 5px 10px;
    background-color: #205081;
    width: 70%;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    a {
      text-decoration: none;
      cursor: hand;
      color: white;
    }
  }

  .form {
    align-self: center;
  }

  @media(min-width: 510px) {

  }
}