.menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #111111;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #e8e8e8;
  }
}